@import url("./global/header.css");
@import url("./reset.css");
@import url("./global/reuse.css");
@import url("./main/main.css");
@import url("./global/modal.css");
@import url("./global/titulo.css");