@import url("./global/header.css");
@import url("./reset.css");
@import url("./global/reuse.css");
@import url("./main/main.css");
@import url("./global/modal.css");
@import url("./global/titulo.css");
@import url("./login.css");
@import url("./global/input.css");
@import url("./perfil/conta.css");
@import url("./global/menu.css");
*{
    box-sizing: border-box;
}