.modal-on{
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 90%;
    max-width: 100%;
    height: 100vh;
    padding-right: 1rem;
    padding-left: 1rem;
    display: grid;
}



.modal-item{
   max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

@media(max-width:750px){
    .modal-item{
        max-width: 500px;
        grid-template-columns: auto;
    }
}

.modal-aside-dados{
    background-color: #f7f7f7;
    max-width: 800px;
    padding: 1.2rem 1.4rem;
}

.author-e-views{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: space-between;
}

.author{
    color: #ccc;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.views-modal{
    font-size:1.1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.views-modal::after{
    content: url("../../assets//visualizacao-black.svg");
}

.titulo-modal{
    margin: 1rem 0 2rem 0;
    cursor: pointer;
    font-size: 1.9rem;
}

.dados-item-dog{
    font-size: 1.2rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.barra-esq-dir{
    display: flex;
    align-items: center;
    color: #333;
}

.barra-esq-dir::after{
    content: "";
    display: block;
    width: 0.2rem;
    margin-left: 1rem;
    height: 1.4rem;
    background-color: #333;
}

.barra-esq-dir::before{
    content: "";
    display: block;
    width: 0.2rem;
    margin-right: 1rem;
    height: 1.4rem;
    background-color: #333;
}