.titulo-modal::before{
    content: '';
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    display: block;
    background-color: #fb1;
    z-index: -1;
    top: 1.5rem;
    border-radius: 0.2rem;
}

.titulo-modal{
    display: inline-block;
    z-index: 1;
    color: #333;
    font-size: 2.5rem;
    position: relative;
}

.grid-final{
    cursor: initial;
    grid-column: 1 / -1;
}