.fotos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;
}

.fotos div{
    cursor: pointer;
}

.fotos .div-photo-2{
    grid-column:  2 / -1;
    grid-row: span  2;
}

.fotos li{
    position: relative;
}


.views-span{
    display: none;
}

.fotos li:hover .views-span{
    display: flex;
    position: absolute;
    align-self: end;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
    gap: 0.2rem;
    width: 100%;
    position: absolute;
    background-color:rgba(0,0,0,0.4);
    color: #f7f7f7;
}

.views-span::after{
    content: url("../../assets/visualizacao.svg");
}